@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&family=Fira+Sans:wght@100&family=PT+Sans&family=Poppins&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
html, 
body
{
    background-color: #161934;
}
header button, header select{
    padding: 8px;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
    background: pink;
}
header a h2{
    display: inline-block;
    margin: 12px 50px;
}
header ul, header ul li{
    display: inline-block;
}
header ul {
    margin-right: 20%;
}
header ul li{
    margin-right: 40px;
}
button, select, select option{
    color: black;
}

.search-form{
    display: inline-block;
    width: 40%;
}
.search-form{

}
#search{
    padding: 8px;
    color: #161934;
    width: 75%;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    border: none;
    transition: all 0.5ms ease-in-out;
    -webkit-transition: all 0.5ms ease-in-out;
    -moz-transition: all 0.5ms ease-in-out;
    -ms-transition: all 0.5ms ease-in-out;
    -o-transition: all 0.5ms ease-in-out;
}
#search:focus{
    outline: 5px solid rgb(80, 132, 223);
    color: red;
}
.search-btn{
    width: 20%;
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 900;
    color: white;
    background-color: rgb(206, 33, 206);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
a{
    text-decoration: none;
    color: white;
    transition: all 0.5ms ease-in-out;
    -webkit-transition: all 0.5ms ease-in-out;
    -moz-transition: all 0.5ms ease-in-out;
    -ms-transition: all 0.5ms ease-in-out;
    -o-transition: all 0.5ms ease-in-out;
}
a:hover{
    color: red;
}
.apple{
    background-color: white;
    cursor: pointer;
}
.android{
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10px;
    bottom: 0;
}
footer div{
    display: inline-block;
    margin-right: 13%;
}
ul li{
    list-style: none;
}